header {
    background-image: url('img-head.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 25%;
    height: 170px;
}

.text-head {
    padding-left: 30px;
    padding-top: 70px;
}

.head-img {
    position: relative;
    padding: 0px;
    height: 200px;
    left: 0px;
    width: 100%;
}

.avatar {
    padding: 20px;
    width: 350px;
    height: 350px;
}

h1 {
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex: 1 0;
}

ul {
    list-style-type: none;
}

.footer {
    display: flex;
    justify-content: space-around;
    color: black;
    flex-shrink: 0;
    background-color: #00ffff;
    height: 100px;
}

a:hover {
    color: red;
}

.link {
  color: black;
;
}

.link:hover {
    color: red;
}

.fa {
    margin-top: 30px;
    font-size: 30px;
    letter-spacing: 0.5em;
}

.fa:hover{
    opacity: .3;
}

.year {
    margin-top: 30px;
}