@font-face {
  font-weight: normal;
  font-family: 'Futura-Bold';
  src: url("../fonts/Futura/futura-pt-demi.ttf");
}

@font-face {
  font-weight: normal;
  font-family: 'Futura-Regular';
  src: url("../fonts/Futura/futura-pt-cond-book-oblique.ttf");
}


html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Futura-Bold', sans-serif;
    color: #333;
}

.contacts {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    right: 10px;
}

.main {
    position: relative;
    color: rgb(90, 90, 202);
    background: linear-gradient(45deg, rgba(5, 176, 219, .2) 0%, rgba(11, 11, 11, .95) 85%) 100% no-repeat, url(img/back-head.jpg) 0 0/cover no-repeat !important;
    min-height: 100vh;
    text-align: right;
    font-weight: 500;
    line-height: 100px;

}

    .hello {
        padding: 70px;
        font-size: 1vw;
        animation: byBottom 1s ease both;
    }

    #avatar {
        position: absolute;
        left: 8%;
        bottom: 0px;
    }

    .hello-name {
        line-height: 20px;
        color: white;
        font-size: 4vw;
        line-height: 2vw;
        letter-spacing: 0.20vw;
    }

.list {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

    #hack-img {
        max-height: 25vw;
        max-width: 25vw;
    }


    .info-list {
        padding: 7% 6%;
        max-height: 25vw;
        max-width: 25vw;
    }

    .description {
        font-size: 1em;
    }

    #worker-img {
        max-height: 25vw;
        max-width: 25vw;
    }

    #study-img {
        max-height: 25vw;
        max-width: 25vw;
    }

.purpose {
    width: device-width;
    height: device-width;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0px 40px;
}

    .flex-item {
        display: flex;
        flex-direction: column;
        padding: 40px 10px;
        width: 100%;
    }

        .fa-solid {
            font-size: 40px;
            color: #000080;
        }

        #flex-item1 {
            width: 30%;
            background: linear-gradient(#4b7be2, #00ffff);
        }

        #flex-item2 {
            width: 30%;
            background: linear-gradient(#4b7be2, #00ffff);
        }

        #flex-item3 {
            width: 30%;
            background: linear-gradient(#4b7be2, #00ffff);
        }

.location {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
}

    #map-loc {
        margin-top: 100px;
        width: 30%;
    }
.footer {
    display: flex;
    justify-content: space-around;
    color: black;
    flex-shrink: 0;
    background-color: #00ffff;
    height: 80px;
}

    #year {
        margin-top: 30px;
    }

    .fa {
        margin-top: 30px;
        font-size: 2em;
        letter-spacing: 0.5em;
    }

    .fa:hover{
        opacity: 0.3;
    }

a:hover {
    color: red;
}

@media screen and (max-width: 1000px) {
    #avatar {
        left: 2%;
    }

    .location {
        display: flex;
        flex-direction: column;
    }

    #map-loc {
        margin: 0;
        padding: 20px 10%;
        min-width: 80%;
    }

    iframe {
        margin: 0;
        padding: 0 5%;
        max-width: 90%;
    }

}

@media screen and (max-width: 800px) {
    #avatar {
        left: -15%;
    }

    .hello {
        line-height: 5px;
        padding-top: 35vh;
    }
    .purpose {
        display: flex;
        flex-direction: column;
    }

    .flex-item {
        min-width: 90%;
        margin: 10px 5%;
    }

    .list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .description {
        display: flex;
        text-align: center;
    }

    .info-list {
        min-width: 90%;
        padding: 20px 5% 10px 5%;
        justify-content: center;
    }

    #hack-img {
        max-height: 40vw;
        max-width: 40vw;
    }


    .description {
        text-align: center;
        min-width: 100%;
    }

    #worker-img {
        max-height: 40vw;
        max-width: 40vw;
    }

    #study-img {
        max-height: 40vw;
        max-width: 40vw;
    }

    .location {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    iframe {
        height: 400px;
        margin: 0;
        min-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #worker-img {
        margin-top: 70px;
    }

    .description {
        font-size: small;
    }

    .hello {
        padding-top: 55vh;
        padding-right: 5%;
    }
    
    #avatar {
        left: -30%;
    }

    .contacts {
        top: 15vh;
    }
}

@media screen and (max-width: 400px) {
    #avatar {
        left: -40%;
    }

    .hello {
        padding-top: 63vh;
        font-size: 0.8vw;
    }
}
